{
    "luau-lsp.platform.type": "roblox",
    "luau-lsp.sourcemap.rojoProjectFile": "test.project.json",
    "luau-lsp.ignoreGlobs": ["**/*.d.luau", "*Packages/**"],
    "cSpell.words": [
        "devforum",
        "johnnymorganz",
        "kampfkarren",
        "loadmodule",
        "luaurc",
        "Nightrains",
        "NONFINAL",
        "nonstrict",
        "pcall",
        "rbxl",
        "rbxm",
        "rojo",
        "rokit",
        "stylua",
        "tostring",
        "vararg",
        "varargs",
        "xpcall"
    ]
}
